.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  color: var(--color-grey-900);
  padding-top: 8px;
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}
